.jumbotron {
  padding-top: 7rem;
  background-color: #ffe5e5;
}
.display-4 {
  margin-top: 10px;
}
section {
  padding-top: 5rem;
}

#SoftSkill .container .container .row {
  justify-content: center;
}
#future .container .container .row .col {
  width: 100%;
}
